In [1]:
import numpy as np
import pandas as pd

In [9]:
data_filename = "nba2015-16.csv"
dataset = pd.read_csv(data_filename,parse_dates=['Date'])
dataset.head(5)

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,Unnamed: 6,Unnamed: 7,Attend.,Notes\
0,2015-10-27,8:00p,Cleveland Cavaliers,95,Chicago Bulls,97,Box Score,NaN,21957,\
1,2015-10-27,8:00p,Detroit Pistons,106,Atlanta Hawks,94,Box Score,NaN,19187,\
2,2015-10-27,10:30p,New Orleans Pelicans,95,Golden State Warriors,111,Box Score,NaN,19596,\
3,2015-10-28,7:00p,Washington Wizards,88,Orlando Magic,87,Box Score,NaN,18846,\
4,2015-10-28,7:30p,Philadelphia 76ers,95,Boston Celtics,112,Box Score,NaN,18624,\

In [13]:
dataset.columns = ['Date','Start(ET)','Visitor Team','VisitorPts','Home Team','HomePts','OT?','Score Type','Attend','Notes']

In [22]:
dataset = dataset.drop(columns = ['Notes'])

In [23]:
dataset['HomeWin'] = dataset['VisitorPts'] < dataset['HomePts']
dataset.head(5)

,Date,Start(ET),Visitor Team,VisitorPts,Home Team,HomePts,OT?,Score Type,Attend,HomeWin
0,2015-10-27,8:00p,Cleveland Cavaliers,95,Chicago Bulls,97,Box Score,NaN,21957,True
1,2015-10-27,8:00p,Detroit Pistons,106,Atlanta Hawks,94,Box Score,NaN,19187,False
2,2015-10-27,10:30p,New Orleans Pelicans,95,Golden State Warriors,111,Box Score,NaN,19596,True
3,2015-10-28,7:00p,Washington Wizards,88,Orlando Magic,87,Box Score,NaN,18846,False
4,2015-10-28,7:30p,Philadelphia 76ers,95,Boston Celtics,112,Box Score,NaN,18624,True

In [24]:
dataset['HomeWin'].mean()

0.5942249240121581